<!-- Additional head bits without overriding original head -->

<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Person",
      "email": "weliwita@gmail.com",
      "name": "Rasika Weliwita",
        "sameAs": [
        "https://stackoverflow.com/users/story/2032151",
        "https://github.com/weliwita",
        "https://www.linkedin.com/in/weliwita",
        "https://twitter.com/rasikaweliwita"
        ],
      "familyName": "Weliwita",
      "givenName": "Rasika",
      "jobTitle": "Software Developer"
    }
</script>